In [1]:
!pip install bs4
!pip install requests

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: beautifulsoup4 in c:\users\user\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1271 sha256=a8adc05082c694bae70b315c458bace0bf899d6c926d00bde45d5b090ce06e0c
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\73\2b\cb\099980278a0c9a3e57ff1a89875ec07bfa0b6fcbebb9a8cad3
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests) (2021.10.8)

In [2]:
from bs4 import BeautifulSoup,SoupStrainer
import requests
import re
import pandas as pd
import numpy as np

# Q1 Write a python program to display all the header tags from wikipedia.org.

In [3]:
wiki_url = requests.get('https://en.wikipedia.org') #getting permission to scrape da from the webpage

In [4]:
wiki_url #response [200] means we can go ahead with the scraping

In [5]:
soup = BeautifulSoup(wiki_url.content)

In [6]:
header = []    #Scraping all header tags into the empty header list
for i in soup.find_all('h2',class_="mp-h2"):
    header.append(i.text)
    
header

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

# Q2 Python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)

In [7]:
#data scraped from the imbd webpage will be stored in the respective empty list
movie_name = []
ratings =[]
year_of_release = []

In [8]:
pages = np.arange(1,100,50) 
    
for page in pages:  #the data is contained in 2 pages, hence requesting permission to scrape data from both the pages
    page = requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start="+str(page)+"&ref_=adv_nxt")
    soup = BeautifulSoup(page.content,'html.parser')
    movie_data = soup.find_all('div',class_='lister-item mode-advanced')
    #movie names
    for store in movie_data:
        name= store.h3.a.text
        movie_name.append(name)
     #raing for each movie   
        rating= store.find('div',class_='inline-block ratings-imdb-rating').text.replace('\n',"") #\n are removed from the output using replace
        ratings.append(rating)
      #year in which the movie was released  
        year = store.h3.find('span',class_='lister-item-year text-muted unbold')
        year_of_release.append(year.text.strip('()')) #strip('()') removes the brackets from the year#strip('()') removes the brackets from the year

In [9]:
page

In [10]:
#Creating a dataframe from scraped data
Top_100_Movies = pd.DataFrame({'Movie Name': movie_name, 'Rating': ratings, 'Year of Release': year_of_release})
Top_100_Movies.head()

                                      Movie Name Rating Year of Release
0                       The Shawshank Redemption    9.3            1994
1                                  The Godfather    9.2            1972
2                                The Dark Knight    9.0            2008
3  The Lord of the Rings: The Return of the King    9.0            2003
4                               Schindler's List    9.0            1993

# Q3 Python program to display IMDB’s Top rated 100 Indian movies’ (name,rating and year of release)

In [11]:
url = "https://www.imdb.com/list/ls063915608/"

imbd_url = requests.get(url)
imbd_url

In [12]:
soup = BeautifulSoup(imbd_url.content)

In [13]:
ind_movies= soup.find_all('div',class_='lister-item mode-detail')

In [14]:
#the required data collected will be sored in respective lists
ind_movie_name=[]
movie_rating = []
year_of_release = []

In [15]:
for i in ind_movies:
    #movie name
    titles = i.find('h3',class_='lister-item-header').a.text.strip() #strip() is used for removing white space
    ind_movie_name.append(titles)
    
    #movie rating
    rate = i.find('div',class_='ipl-rating-star small').text.replace("\n","") #\n are removed from the output using replace
    movie_rating.append(rate)
    
    #release yearof the movie
    year = i.find('span',class_='lister-item-year text-muted unbold').text.strip('()') #strip('()') removes the brackets from the year
    year_of_release.append(year)

In [16]:
Top_100_IND_Movies = pd.DataFrame({'Movie Title':ind_movie_name, 'Rating':movie_rating, 'Year of Release':year_of_release})
Top_100_IND_Movies.head()

                         Movie Title Rating Year of Release
0                    Rang De Basanti    8.1            2006
1  Lagaan: Once Upon a Time in India    8.1            2001
2                     Dil Chahta Hai    8.1            2001
3                 Gangs of Wasseypur    8.2            2012
4           Zindagi Na Milegi Dobara    8.1            2011

# Q4 Python program to display list of respected former presidents of India(i.e. Name , Term of office)

In [17]:
Link = 'https://presidentofindia.nic.in/former-presidents.htm'

PI = requests.get(Link)
PI

In [18]:
Soup = BeautifulSoup(PI.content)
data = Soup.find_all('div',class_='presidentListing')

Presidents =[]
Term_of_Office =[]


for i in data:
    name = i.h3.text.split('(')[0]
    Presidents.append(name)
   
    term = i.find('p').text.replace('Term of Office:','')
    Term_of_Office.append(term)

In [19]:
Former_Presidents = pd.DataFrame({'Former Presidents':Presidents, 'Term of Office':Term_of_Office})
Former_Presidents.head()

               Former Presidents                    Term of Office
0         Shri Pranab Mukherjee    25 July, 2012 to 25 July, 2017
1  Smt Pratibha Devisingh Patil    25 July, 2007 to 25 July, 2012
2        DR. A.P.J. Abdul Kalam    25 July, 2002 to 25 July, 2007
3          Shri K. R. Narayanan    25 July, 1997 to 25 July, 2002
4       Dr Shankar Dayal Sharma    25 July, 1992 to 25 July, 1997

# Q5 Write a python program to scrape men's cricket rankings

### a)Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [20]:
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'

In [21]:
req= requests.get(url)
req

In [24]:
soup7= BeautifulSoup(req.content)

In [25]:
Teams=[]
Matches=[]
Points=[]
Rating=[]

In [26]:
table = soup7.find('table')
for row in table.find_all('tr'):
   #Teams
    for team in row.find_all('span',class_='u-hide-phablet'):
        Teams.append(team.text)
    #Matches    
    for match in row.find_all('td',class_='rankings-block__banner--matches'): #first row for matches were stored in differet class tag
        Matches.append(match.text)
    for match in row.find_all('td',class_='table-body__cell u-center-text')[:1]: #slicing is done as point and matches had a common tag
        Matches.append(match.text)
    #Points    
    for point in row.find_all('td',class_='rankings-block__banner--points'): #first row for points were stored in differet classtag
        Points.append(point.text)
    for point in row.find_all('td',class_='table-body__cell u-center-text')[1:]:
        Points.append(point.text)
    Rating
    for rate in row.find_all('td',class_="rankings-block__banner--rating u-text-right"): #first row for points were stored in differet classtag
        Rating.append(rate.text.replace('\n',"").strip())
    for rate in row.find_all('td',class_="table-body__cell u-text-right rating"):
        Rating.append(rate.text)

In [27]:
#Obtaining top 10

Top_10_ODI_teams = Teams[:10]
Matches = Matches[:10]
Points = Points[:10]
Rating = Rating[:10]

In [28]:
Mens_ODI_Top10 = pd.DataFrame({'Top 10 ODI Teams':Top_10_ODI_teams,'Matches':Matches,'Points':Points,'Rating':Rating})
Mens_ODI_Top10

  Top 10 ODI Teams Matches Points Rating
0      New Zealand      12  1,505    125
1          England      22  2,756    125
2         Pakistan      19  2,005    106
3            India      22  2,304    105
4        Australia      23  2,325    101
5     South Africa      19  1,872     99
6       Bangladesh      24  2,275     95
7        Sri Lanka      29  2,658     92
8      West Indies      32  2,306     72
9      Afghanistan      18  1,238     69

### b)Top 10 ODI Batsmen along with the records of their team and rating.

In [29]:
url= 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'

In [30]:
req = requests.get(url)
req

In [31]:
soup8= BeautifulSoup(req.content)

In [32]:
Players = []
Team =[]
Rating = []

In [33]:
table = soup8.find('table')

#first row of respective records were stored in a seperate tag, so we extract it first
first_row=table.find('tr',class_='rankings-block__banner')
a =first_row.find('div',class_='rankings-block__banner--name-large').text
Players.append(a)

b=first_row.find('div',class_='rankings-block__banner--nationality').text.replace('\n','')
Team.append(b)

c=first_row.find('div',class_='rankings-block__banner--rating').text
Rating.append(c)

for row in table.find_all('tr',class_='table-body'):
    for player in row.find('td',class_='table-body__cell rankings-table__name name'):
        if player.text.strip()!='':
            Players.append(player.text)
    for team in row.find('span',class_='table-body__logo-text'):
        Team.append(team.text)
    for rating in row.find('td',class_='table-body__cell rating'):
        Rating.append(rating.text)

In [34]:
#Obtaining top 10

Top_10_Players= Players[:10]
Team = Team[:10]
Rating =Rating[:10]

In [35]:
Top10_ODI_Batting = pd.DataFrame({'Player':Top_10_Players,'Team':Team,'Rating': Rating })
Top10_ODI_Batting

                  Player                     Team Rating
0             Babar Azam  PAK                        892
1            Imam-ul-Haq                      PAK    815
2            Virat Kohli                      IND    811
3           Rohit Sharma                      IND    791
4        Quinton de Kock                       SA    789
5            Ross Taylor                       NZ    775
6  Rassie van der Dussen                       SA    769
7         Jonny Bairstow                      ENG    752
8           David Warner                      AUS    737
9              Shai Hope                       WI    718

### c) Top 10 ODI bowlers along with the records of their team and rating.

In [36]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'

In [37]:
req = requests.get(url)
req

In [38]:
soup9= BeautifulSoup(req.content)

In [39]:
Players =[]
Team = []
Rating =[]

In [40]:
table = soup9.find('table')
#first row of respective records were stored in a seperate tag, so we extract it first

first_row=table.find('tr',class_='rankings-block__banner')
r =first_row.find('div',class_='rankings-block__banner--name-large').text
Players.append(r)

s=first_row.find('div',class_='rankings-block__banner--nationality').text.replace('\n','')
Team.append(s)

t=first_row.find('div',class_='rankings-block__banner--rating').text
Rating.append(t)

for row in table.find_all('tr',class_='table-body'):
    for player in row.find('td',class_='table-body__cell rankings-table__name name'):
        if player.text.strip()!='':
            Players.append(player.text)
    for team in row.find('span',class_='table-body__logo-text'):
        Team.append(team.text)
    for rating in row.find('td',class_='table-body__cell rating'):
        Rating.append(rating.text)

In [41]:
#Obtaining top 10
Top10_ODI_Bowlers = Players[:10]
Team = Team [:10]
Rating = Rating[:10]

In [42]:
Top10_Mens_ODI_Bowlers =pd.DataFrame({'Players':Top10_ODI_Bowlers,'Team':Team, 'Rating':Rating})
Top10_Mens_ODI_Bowlers

            Players                    Team Rating
0       Trent Boult  NZ                        726
1        Matt Henry                      NZ    683
2    Shaheen Afridi                     PAK    681
3      Chris Woakes                     ENG    680
4    Jasprit Bumrah                     IND    679
5    Josh Hazlewood                     AUS    679
6  Mujeeb Ur Rahman                     AFG    676
7      Mehedi Hasan                     BAN    661
8     Mohammad Nabi                     AFG    657
9   Shakib Al Hasan                     BAN    657

# Q6 Python program to scrape women's cricket rankings

### a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

In [43]:
url1 = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"

In [44]:
ODI1 = requests.get(url1)
ODI1

In [45]:
soup1 = BeautifulSoup(ODI1.content)

In [46]:
teams = []
matches = []
points = []
rating = []

In [47]:
table = soup1.find('table')
for row in table.find_all('tr'):
   #Team
    for team in row.find_all('span',class_='u-hide-phablet'):
        teams.append(team.text)
    #Matches    
    for match in row.find_all('td',class_='rankings-block__banner--matches'):
        matches.append(match.text)
    for match in row.find_all('td',class_='table-body__cell u-center-text')[:1]:
        matches.append(match.text)
    #Points
    for point in row.find_all('td',class_='rankings-block__banner--points'):
        points.append(point.text)
    for point in row.find_all('td',class_='table-body__cell u-center-text')[1:]:
        points.append(point.text)
    #Rating
    for rate in row.find_all('td',class_="rankings-block__banner--rating u-text-right"):
        rating.append(rate.text.replace('\n',"").strip())
    for rate in row.find_all('td',class_="table-body__cell u-text-right rating"):
        rating.append(rate.text)

In [48]:
#Obtaining top 10

Top_10_ODI_teams = teams[:10]
Matches = matches[:10]
Points = points[:10]
Rating = rating[:10]

In [49]:
Top10_Womens_ODI_Team = pd.DataFrame({'Players':Top_10_ODI_teams, 'Matches':Matches, 'Points': Points,'Rating': Rating})
Top10_Womens_ODI_Team

        Players Matches Points Rating
0     Australia      29  4,837    167
1  South Africa      32  3,949    123
2       England      30  3,531    118
3         India      29  2,889    100
4   New Zealand      31  3,019     97
5   West Indies      30  2,768     92
6    Bangladesh      12    930     78
7      Pakistan      30  1,962     65
8     Sri Lanka       8    384     48
9       Ireland       8    351     44

### b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [50]:
url2 = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'

In [51]:
re = requests.get(url2)
re

In [53]:
soup2= BeautifulSoup(re.content,'html.parser')

In [54]:
table = soup2.find('table')

first_row=table.find('tr',class_='rankings-block__banner')

In [55]:
Players=[]
Team=[]
Rating=[]

In [56]:
#first row of respective records were stored in a seperate tag, so we extract it first

p =first_row.find('div',class_='rankings-block__banner--name-large').text
Players.append(p)

t=first_row.find('div',class_='rankings-block__banner--nationality').text.replace('\n','')
Team.append(t)

r=first_row.find('div',class_='rankings-block__banner--rating').text
Rating.append(r)

for row in table.find_all('tr',class_='table-body'):
    for player in row.find('td',class_='table-body__cell rankings-table__name name'):
        if player.text.strip()!='':
            Players.append(player.text)
    for team in row.find('span',class_='table-body__logo-text'):
        Team.append(team.text)
    for rating in row.find('td',class_='table-body__cell rating'):
        Rating.append(rating.text)

In [57]:
#Obtaining top 10

Top_10_Players=Players[:10]
Teams =Team[:10]
Rating = Rating[:10]

In [58]:
Womens_ODI_Batting = pd.DataFrame({'Top 10 players':Top_10_Players, 'Team': Teams, 'Rating':Rating})
Womens_ODI_Batting

      Top 10 players Team Rating
0       Alyssa Healy  AUS    785
1     Natalie Sciver  ENG    750
2        Beth Mooney  AUS    748
3    Laura Wolvaardt   SA    713
4        Meg Lanning  AUS    710
5     Rachael Haynes  AUS    701
6  Amy Satterthwaite   NZ    681
7    Smriti Mandhana  IND    669
8     Tammy Beaumont  ENG    659
9       Ellyse Perry  AUS    642

### c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [59]:
url3= 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'

In [60]:
req = requests.get(url3)
req

In [61]:
soup3= BeautifulSoup(req.content)

In [62]:
table= soup3.find('table')
first_row=table.find('tr',class_='rankings-block__banner')

In [63]:
All_rounder =[]
Teams =[]
rating=[]

In [64]:
#first row of respective records were stored in a seperate tag, so we extract it first

x =first_row.find('div',class_='rankings-block__banner--name-large').text
All_rounder.append(x)

y=first_row.find('div',class_='rankings-block__banner--nationality').text.replace('\n','')
Teams.append(y)

z=first_row.find('div',class_='rankings-block__banner--rating').text
rating.append(z)

for row in table.find_all('tr',class_='table-body'):
    for player in row.find('td',class_='table-body__cell rankings-table__name name'):
        if player.text.strip()!='':
            All_rounder.append(player.text)
    for team in row.find('span',class_='table-body__logo-text'):
        Teams.append(team.text)
    for rate in row.find('td',class_='table-body__cell rating'):
        rating.append(rate.text)

In [65]:
#Obtaining top 10

Top_10_allrounder=All_rounder[:10]
Team = Teams[:10]
Rating = rating[:10]

In [66]:
Womens_ODI_All_Rounder = pd.DataFrame({'Player':Top_10_allrounder,'Team':Team,'Rating':Rating})
Womens_ODI_All_Rounder

             Player                     Team Rating
0    Natalie Sciver  ENG                        393
1      Ellyse Perry                      AUS    374
2   Hayley Matthews                       WI    338
3    Marizanne Kapp                       SA    338
4       Amelia Kerr                       NZ    335
5  Ashleigh Gardner                      AUS    269
6     Deepti Sharma                      IND    249
7     Jess Jonassen                      AUS    245
8         Sune Luus                       SA    223
9   Katherine Brunt                      ENG    221

# Q7 Python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world

In [67]:
url = 'https://www.cnbc.com/world/?region=world'

In [68]:
req = requests.get(url)
req

In [69]:
soup4 = BeautifulSoup(req.content)

In [70]:
Headline = []
Time = []
Newslink = []

In [71]:
for news in soup4.find_all('div',class_="LatestNews-headlineWrapper"):
    Headline.append(news.a.text)
for link in soup4.find_all('a',class_='LatestNews-headline',href=True):
    Newslink.append(link['href'])
for time in soup4.find_all('time',class_="LatestNews-timestamp"):
    Time.append(time.text)

In [72]:
df = pd.DataFrame({'Headline':Headline,'Time':Time,'News url':Newslink})
df.head()

,Headline,Time,News url
0,A common money move may cost retirement savers...,13 Min Ago,https://www.cnbc.com/2022/06/30/rollover-iras-...
1,"Natural gas drops 10%, on track for worst mont...",21 Min Ago,https://www.cnbc.com/2022/06/30/natural-gas-dr...
2,The housing shortage is starting to ease after...,24 Min Ago,https://www.cnbc.com/2022/06/30/housing-shorta...
3,FTX closes in on a deal to buy embattled crypt...,28 Min Ago,https://www.cnbc.com/2022/06/30/ftx-closes-in-...
4,,41 Min Ago,https://www.cnbc.com/2022/06/30/santoli-the-sp...

# Q8 Python program to scrape the details of most downloaded articles from AI in last 90 days

In [73]:
url ='https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles'

In [74]:
req= requests.get(url)
req

In [75]:
soup5= BeautifulSoup(req.text)

In [77]:
 
Papers=[]
Authors =[]
Published_Date=[]
Paper_url=[]

for article in soup5.find_all('li',class_='sc-9zxyh7-1 sc-9zxyh7-2 exAXfr jQmQZp'):
    paper= article.find('h2',class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR").text
    Papers.append(paper)
    
    author= article.find('span',class_="sc-1w3fpd7-0 pgLAT").text
    Authors.append(author)
    
    date= article.find('span',class_="sc-1thf9ly-2 bKddwo").text
    Published_Date.append(date)
    
    link = article.find('a',href=True)
    Paper_url.append(link['href'])
    
print(len(Papers),len(Authors),len(Published_Date),len(Paper_url))

25 25 25 25

In [78]:
Most_Downloaded_Article= pd.DataFrame({'Paper':Papers, 'Published Date': Published_Date, 'Link to the Paper': Paper_url})
Most_Downloaded_Article.head()

,Paper,Published Date,Link to the Paper
0,Reward is enough,October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,June 2017,https://www.sciencedirect.com/science/article/...

# Q9 python program to scrape mentioned details from dineout.co.in

In [84]:
import re

In [79]:
url = 'https://www.dineout.co.in/kochi-restaurants/welcome-back'

In [80]:
req = requests.get(url)
req

In [81]:
soup10= BeautifulSoup(req.content)

In [88]:
Restaurant_Name=[]
Cuisine=[]
Location =[]
Ratings=[]
Image_url =[]

In [89]:

for restaurant in soup10.find_all('div',class_='restnt-info cursor'):
    Restaurant_Name.append(restaurant.a.text)
for location in soup10.find_all('div',class_='restnt-loc ellipsis'):
    Location.append(location.a.text)
for cuisine in soup10.find_all('span',class_='double-line-ellipsis'):
    Cuisine.append(cuisine.text.split(' ')[6:])
for rating in soup10.find_all('div',class_= re.compile("restnt-rating rating-")): #since class tag had slight variation, re.compile was used, which compiles using a pattern seen.
    Ratings.append(rating.text)

for img_url in soup10.find_all('img',class_='no-img'):
    Image_url.append(img_url['data-src'])

In [90]:
Ratings= Ratings[:21]

In [91]:
Dine_out= pd.DataFrame({'Restaurant Name':Restaurant_Name,'Cuisine':Cuisine, 'Location':Location,'Rating':Ratings, 'Image URL':Image_url})
Dine_out.head()

,Restaurant Name,Cuisine,Location,Rating,Image URL
0,Coral Reef,"[North, Indian,, Continental,, Kerala]","Coral Isle Hotel,",3.9,https://im1.dineout.co.in/images/uploads/resta...
1,Upper Birth,"[Chinese,, Continental]","Coral Isle Hotel,",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,Barbeque Nation,"[North, Indian,, Chinese]",Kacheripadi,3.8,https://im1.dineout.co.in/images/uploads/resta...
3,Dosa World,"[South, Indian,, Beverages]",Kacheripadi,4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Hotspot,"[Arabian,, North, Indian,, Chinese,, Middle, E...",Kadavanthra,4.2,https://im1.dineout.co.in/images/uploads/resta...

# Q10 Python program to scrape the details of top publications from Google Scholar

In [92]:
url= 'https://scholar.google.com/citations?view_op=top_venues&hl=en'

In [93]:
r = requests.get(url) 
r

In [94]:
soup6 = BeautifulSoup(r.content,'html.parser')

In [95]:

Rank =[]
Publication =[]
h5_index =[]
h5_median =[]
table = soup6.find('table') 
for row in table.find_all('tr'):

    for rank in row.find_all('td',class_='gsc_mvt_p'):
        Rank.append(rank.text)
    for publication in row.find_all('td',class_='gsc_mvt_t'):
        Publication.append(publication)
    for index in  row.find_all('a',class_='gs_ibl gsc_mp_anchor'):
        h5_index.append(index.text)
    for median in row.find_all('span',class_='gs_ibl gsc_mp_anchor'):
        h5_median.append(median.text)

In [96]:
Top_Publications = pd.DataFrame({'Rank':Rank,'Publication':Publication,'h5 index':h5_index,'h5 median':h5_median}).set_index('Rank')
Top_Publications

                                            Publication h5 index h5 median
Rank
1.                                             [Nature]      444       667
2.                [The New England Journal of Medicine]      432       780
3.                                            [Science]      401       614
4.    [IEEE/CVF Conference on Computer Vision and Pa...      389       627
5.                                         [The Lancet]      354       635
...                                                 ...      ...       ...
96.                      [Journal of Business Research]      145       233
97.                                  [Molecular Cancer]      145       209
98.                                           [Sensors]      145       201
99.                             [Nature Climate Change]      144       228
100.                  [IEEE Internet of Things Journal]      144       212

[100 rows x 3 columns]