In [6]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (4.3.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sniffio in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: outcome in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\user\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\users\user\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\user\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\user\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\user\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\user\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium 
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import StaleElementReferenceException
import time

# Q1 Python program to scrape data for “Data Analyst” Job position in “Bangalore” location.

In [3]:
driver = webdriver.Chrome(r'C:\Users\USER\Downloads\chromedriver_win32\chromedriver.exe')

In [4]:
url = 'https://www.naukri.com/'
driver.get(url)

In [8]:
search_job = driver.find_element(By.CLASS_NAME,'suggestor-input')

In [9]:
search_job.send_keys('Data Analyst')

In [12]:
search_loc = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input') #To add location

In [13]:
search_loc.send_keys('Bangalore')

In [14]:
search_btn = driver.find_element(By.CLASS_NAME,'qsbSubmit')

In [15]:
search_btn.click()

In [25]:
job_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')[:10]
len(job_tags)

10

In [26]:
job_titles = []
for i in job_tags:
    job_titles.append(i.text)
job_titles

['Sr.Business Data Analyst',
 'Data Analyst - CRM Platform',
 'Reference Data Analyst',
 'Sales Data Analyst',
 'Data Analyst',
 'Hiring Data Analyst - Forensics, KPMG India',
 'Data Analyst/Senior Data Analyst',
 'Data Analyst - Marketplace',
 'Hiring Data Analysts - Virtusa',
 'Senior Data Analyst II']

In [27]:
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')[:10]
len(company_tags)

10

In [28]:
company_names=[]
for i in company_tags:
    company_names.append(i.text)
company_names

['Collabera',
 'Artech infosystem',
 'Deutsche Bank',
 'NUANCE INDIA PVT LTD',
 'Clarivate',
 'KPMG India',
 'Meesho',
 'Gojek',
 'Virtusa',
 'Flipkart']

In [39]:
exp_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')[:10]
len(exp_tags)

10

In [40]:
experience= []
for i in exp_tags:
    experience.append(i.text)
experience

['6-11 Yrs',
 '1-6 Yrs',
 '2-5 Yrs',
 '1-3 Yrs',
 '2-4 Yrs',
 '2-6 Yrs',
 '3-6 Yrs',
 '3-7 Yrs',
 '4-8 Yrs',
 '3-6 Yrs']

In [41]:
loc_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')[:10]
len(loc_tags)

10

In [42]:
location = []
for i in loc_tags:
    location.append(i.text)
location

['Bangalore/Bengaluru, karnataka\n(WFH during Covid)',
 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida, Kolkata, Mumbai, Gurgaon/Gurugram, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru']

In [43]:
df1 = pd.DataFrame({"Data Analyst job titles": job_titles, "Company": company_name, "Experience": experience, "Location": location})
df1

,Data Analyst job titles,Company,Experience,Location
0,Sr.Business Data Analyst,Collabera,6-11 Yrs,"Bangalore/Bengaluru, karnataka\n(WFH during Co..."
1,Data Analyst - CRM Platform,Artech infosystem,1-6 Yrs,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde..."
2,Reference Data Analyst,Deutsche Bank,2-5 Yrs,Bangalore/Bengaluru
3,Sales Data Analyst,NUANCE INDIA PVT LTD,1-3 Yrs,Bangalore/Bengaluru
4,Data Analyst,Clarivate,2-4 Yrs,Bangalore/Bengaluru
5,"Hiring Data Analyst - Forensics, KPMG India",KPMG India,2-6 Yrs,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, G..."
6,Data Analyst/Senior Data Analyst,Meesho,3-6 Yrs,Bangalore/Bengaluru
7,Data Analyst - Marketplace,Gojek,3-7 Yrs,Bangalore/Bengaluru
8,Hiring Data Analysts - Virtusa,Virtusa,4-8 Yrs,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P..."
9,Senior Data Analyst II,Flipkart,3-6 Yrs,Bangalore/Bengaluru

# Q2  Python program to scrape data for “Data Scientist” Job position in “Bangalore” location.

In [95]:
driver = webdriver.Chrome(r'C:\Users\USER\Downloads\chromedriver_win32\chromedriver.exe')

In [139]:
url = 'https://www.naukri.com/'
driver.get(url)

In [140]:
search_job= driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job

In [141]:
search_job.send_keys('Data Scientist')

In [142]:
search_loc = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_loc

In [143]:
search_loc.send_keys('Bangalore')

In [144]:
search_btn= driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn

In [145]:
search_btn.click()

In [146]:
title_tags =driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')[:10]

In [147]:
len(title_tags)

10

In [148]:
#Extracting job titles
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)

In [149]:
len(job_titles)

10

In [150]:
job_titles

['Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Dataiku Consultant',
 'Research and Development -AI/ML -(PhD )',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist - IN3',
 'Data Scientist - IN3',
 'Senior Data Science Engineer',
 'Senior Data Scientist',
 'Data Science - Engineering Manager']

In [152]:
#Extracting company names

company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')[:10]
len(company_tags)

10

In [153]:
compay_names = []
for i in company_tags:
    compay_names.append(i.text)
len(compay_names)

10

In [154]:
compay_names

['Wipro',
 'Wipro',
 'EXL',
 'PayU',
 'IBM',
 'Walmart',
 'Walmart',
 'Fractal Analytics',
 'Baker Hughes',
 'Paytm']

In [155]:
#Extracting location:
loc_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')[:10]
len(loc_tags)

10

In [157]:
location = []
for i in loc_tags:
    location.append(i.text)
len(location)

10

In [158]:
location

['Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Delhi / NCR',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai',
 'Bangalore/Bengaluru, Noida, Mumbai']

In [162]:
df = pd.DataFrame({'Job Title':job_titles,'Company':compay_names,'Location':location})

In [163]:
df

,Job Title,Company,Location
0,Urgent Job Opening For AI Practitioner - Data ...,Wipro,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ..."
1,Dataiku Consultant,Wipro,"Bangalore/Bengaluru, Pune, Chennai"
2,Research and Development -AI/ML -(PhD ),EXL,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
3,Opportunity For Data Scientist - Female Candid...,PayU,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ..."
4,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru
5,Data Scientist - IN3,Walmart,Bangalore/Bengaluru
6,Data Scientist - IN3,Walmart,Bangalore/Bengaluru
7,Senior Data Science Engineer,Fractal Analytics,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ..."
8,Senior Data Scientist,Baker Hughes,"Bangalore/Bengaluru, Mumbai"
9,Data Science - Engineering Manager,Paytm,"Bangalore/Bengaluru, Noida, Mumbai"

# Q3

In [98]:
driver = webdriver.Chrome(r'C:\Users\USER\Downloads\chromedriver_win32\chromedriver.exe')
url ='https://www.naukri.com/'
driver.get(url)
driver.maximize_window()

In [99]:
search_job= driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys('Data Scientist')

In [100]:
search_loc = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_loc.send_keys('Delhi/NCR')

In [101]:
search_btn= driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn.click()

In [103]:
#clicking on filter with 3- 5 lakhs salary
c = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')
c.click()

In [104]:
title_tags =driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')[:10]
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')[:10]
loc_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')[:10]
exp_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')[:10]

In [105]:
job_title =[]
company = []
location = []
experience = []

for job in title_tags:
    job_title.append(job.text)
for c in company_tags:
    company.append(c.text)
for loc in loc_tags:
    location.append(loc.text)
for exp in exp_tags:
    experience.append(exp.text)

In [108]:
df =pd.DataFrame({'Job Title': job_title, 'Company': company, 'Experience': experience, 'Location': location})
df

,Job Title,Company,Experience,Location
0,Data Scientist - IN3,Walmart,2-5 Yrs,Bangalore/Bengaluru
1,"Artificial Intelligence, Virtual Reality Devel...",ATG Business Solutions,1-5 Yrs,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng..."
2,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,2-5 Yrs,"New Delhi, Bangalore/Bengaluru"
3,Data Scientist,Infosys,2-7 Yrs,Bangalore/Bengaluru
4,Senior Associate - Data Science,Black Turtle India Pvt Ltd,4-7 Yrs,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr..."
5,Data Scientist - Noida/Bangalore,EXL,5-10 Yrs,"Noida, Bangalore/Bengaluru"
6,Data Scientist,Applied Materials,2-4 Yrs,Bangalore/Bengaluru
7,Data Scientist,Applied Materials,4-7 Yrs,Bangalore/Bengaluru
8,DATA Scientist with Fraud Analytics Experience,Concentrix,2-4 Yrs,Bangalore/Bengaluru
9,Senior Data Scientist,PayU,3-7 Yrs,Bangalore/Bengaluru

# Q4

In [48]:
driver = webdriver.Chrome(r'C:\Users\USER\Downloads\chromedriver_win32\chromedriver.exe')
url= 'http://www.flipkart.com/'
driver.get(url)
driver.maximize_window()

In [49]:
try:
    close= driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2doB4z"]')
    close.click()
except:
    pass

In [50]:
search_product = driver.find_element(By.CLASS_NAME,"_3704LK").send_keys('sunglasses')

In [51]:
search_btn = driver.find_element(By.CLASS_NAME,"L0Z3Pu").click()

In [69]:
Brand= []
Product_Description= []
Price= []

Next_btn = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')

for k in range (3):
    brand_tags = WebDriverWait(driver,20).until(EC.visibility_of_all_elements_located((By.XPATH,'//div[@class="_2WkVRV"]')))
    des_tags = WebDriverWait(driver,20).until(EC.visibility_of_all_elements_located((By.XPATH,'//a[@class="IRpwTa"]')))
    price_tags = WebDriverWait(driver,20).until(EC.visibility_of_all_elements_located((By.XPATH,'//div[@class="_30jeq3"]')))
    for i in brand_tags:
        Brand.append(i.text)
    for x in des_tags:
        Product_Description.append(x.text)
    for y in price_tags:
        Price.append(y.text.split('₹')[1])
    Next_btn.click()    
driver.quit()

In [71]:
Brand= Brand [:100]
Product_Description= Product_Description[:100]
Price=Price [:100]

In [73]:
df = pd.DataFrame({'Brand':Brand,'Description':Product_Description,'Price': Price})
df

             Brand                                        Description Price
0     Singco India  Gradient, Toughened Glass Lens, UV Protection ...   598
1   ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...   379
2         DAHAAZIL  UV Protection, Night Vision, Riding Glasses Wa...   177
3         Fastrack   UV Protection Rectangular Sunglasses (Free Size)   639
4        Elligator                UV Protection Round Sunglasses (54)   298
..             ...                                                ...   ...
95       ROYAL SON             Polarized Retro Square Sunglasses (61)   699
96        Fastrack  Gradient, UV Protection Wayfarer Sunglasses (F...   639
97        Fastrack      UV Protection Wayfarer Sunglasses (Free Size)   639
98        Fastrack             UV Protection Wayfarer Sunglasses (55)   735
99          GANSTA              UV Protection Aviator Sunglasses (57)   314

[100 rows x 3 columns]

# Q5

In [159]:
driver = webdriver.Chrome(r'C:\Users\USER\Downloads\chromedriver_win32\chromedriver.exe')

In [160]:
url ='https://www.flipkart.com/'
driver.get(url)
driver.maximize_window()

In [161]:
#To close the log in box
try:
    close= driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2doB4z"]')
    close.click()
except:
    pass

In [162]:
search_product = driver.find_element(By.CLASS_NAME,"_3704LK").send_keys('iphone 11')

In [163]:
search_btn = driver.find_element(By.CLASS_NAME,"L0Z3Pu").click()

In [164]:
#Selecting the firs iphone on the page from which the data required will be scrapped. 
driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a').click()

driver.switch_to.window(driver.window_handles[-1]) #To open newly opened tab
#driver.get(https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=iphone+11&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=877d368c-8aac-4d36-aa89-06462931ac70.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=4w5w10n1280000001657775269028&qH=f6cdfdaa9f3c23f3)

In [166]:
#Click on All replies for the full page to load 
WebDriverWait(driver,20).until(EC.element_to_be_clickable((By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a'))).click()

In [151]:
urls =[]

url_1 = driver.find_elements(By.XPATH,"//a[@class='ge-49M _2Kfbh8']")

for i in url_1:

    urls.append(i.get_attribute('href'))

url_2 = driver.find_elements(By.XPATH,"//a[@class='ge-49M']")

for i in url_2:

    urls.append(i.get_attribute('href'))
    
time.sleep(5)
rev=[]
summ =[]
stars=[]
for i in urls:
    driver.get(i)
    
    for k in driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]'):
        summ.append(k.text)
        time.sleep(5)
    for l in driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):

        stars.append(l.text)

In [153]:
len(summ)

100

In [141]:
len(stars)

100

In [168]:
rev=[]
for i in urls:
    driver.get(i)
    for j in driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]|//div[@class="_3LWZlK _1rdVr6 _1BLPMq"]'):
        rev.append(j.text)
        time.sleep(4)

In [169]:
len(rev)

100

In [170]:
driver.close()

In [171]:
driver.quit()

In [172]:
df = pd.DataFrame({'Review':rev,'Summary':summ,'Stars':stars})
df

   Review                                            Summary Stars
0       5  Really satisfied with the Product I received.....     5
1       5  Amazing phone with great cameras and better ba...     5
2       5  Great iPhone very snappy experience as apple k...     5
3       5  What a camera .....just awesome ..you can feel...     5
4       5  Previously I was using one plus 3t it was a gr...     5
..    ...                                                ...   ...
95      5  This is my first ever iPhone.\nAnd I truly don...     5
96      5  Nice value for money good and best price I pho...     5
97      5  Undoubtedly Iphone 11 is the most successful m...     5
98      5  Don’t expect much from front camera… especiall...     5
99      5  I purchased the iPhone 11 a month back. I must...     5

[100 rows x 3 columns]

# Q6

In [17]:
driver = webdriver.Chrome(r'C:\Users\USER\Downloads\chromedriver_win32\chromedriver.exe')
url ='https://www.flipkart.com/'
driver.get(url)
driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2doB4z"]').click()
driver.maximize_window()

In [142]:
search_product = driver.find_element(By.CLASS_NAME,"_3704LK")
search_product.send_keys('sneekers')

In [143]:
search_btn = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_btn.click()

In [216]:
brand = []
description= []
price = []


Next_btn =driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
brand_tags =driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
des_tags = WebDriverWait(driver,20).until(EC.visibility_of_all_elements_located((By.CSS_SELECTOR,".IRpwTa, .IRpwTa _2-ICcC")))
price_tags =driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

for x in brand_tags:
    brand.append(x.text)
for y in des_tags:
    description.append(y.text)
for z in price_tags:
    price.append(z.text.split('₹')[1])

if len(brand) == 40:
    time.sleep(10)
    Next_btn.click()
    time.sleep(5)
    brand_tags =driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    des_tags = WebDriverWait(driver,20).until(EC.visibility_of_all_elements_located((By.CSS_SELECTOR,".IRpwTa, .IRpwTa _2-ICcC")))
    price_tags =driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

    for x in brand_tags:
        brand.append(x.text.strip())
    for y in des_tags:
        description.append(y.text.strip())
    for z in price_tags:
        price.append(z.text.split('₹')[1])
    
if len(brand)== 80:
    time.sleep(5)
    Next_btn.click()
    time.sleep(6)
    brand_tags =driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')[:20]
    des_tags = WebDriverWait(driver,20).until(EC.visibility_of_all_elements_located((By.CSS_SELECTOR,".IRpwTa, .IRpwTa _2-ICcC")))[:20]
    price_tags =driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')[:20]

    for x in brand_tags:
        brand.append(x.text.strip())
    for y in des_tags:
        description.append(y.text.strip())
    for z in price_tags:
        price.append(z.text.split('₹')[1])

In [217]:
print(len(brand), len(price), len(description))

100 100 100

In [218]:
df = pd.DataFrame({'Brand':brand, 'Description': description, 'Price': price, })
df.head(100)

              Brand                                        Description  Price
0    KNIGHT WALKERS                            SS1100 Sneakers For Men    699
1   Anugrahappradha  W18 men's very comfortable casaul shoes Sneake...    699
2          WOODLAND                                   Sneakers For Men  2,096
3            BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men    269
4            BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men    299
..              ...                                                ...    ...
95         RapidBox                                   Sneakers For Men    630
96              SFR                                   Sneakers For Men    289
97         HOTSTYLE                                   Sneakers For Men    258
98           corsac        STYLISH MENS BLACK SNEAKER Sneakers For Men    499
99  U.S. POLO ASSN.                       TREGGER 2.0 Sneakers For Men  2,759

[100 rows x 3 columns]

# Q7

In [173]:
driver = webdriver.Chrome(r'C:\Users\USER\Downloads\chromedriver_win32\chromedriver.exe')
url = 'http://www.myntra.com/shoes'
driver.get(url)

In [4]:
driver.maximize_window()

In [5]:
price_filter=WebDriverWait(driver, 50).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')))

In [6]:
price_filter.click()

In [7]:
color_filter =WebDriverWait(driver, 50).until(EC.element_to_be_clickable((By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label'))).click()

In [8]:
brand = []
description= []
price = []

Next_btn =driver.find_element(By.XPATH,'//li[@class="pagination-next"]')

for i in range(2):   
     
    brand_tags =WebDriverWait(driver,30).until(EC.visibility_of_all_elements_located((By.XPATH,'//h3[@class="product-brand"]')))
    des_tags = WebDriverWait(driver,30).until(EC.visibility_of_all_elements_located((By.XPATH,'//h4[@class= "product-product"]')))
    price_tags =WebDriverWait(driver,30).until(EC.visibility_of_all_elements_located((By.XPATH,'//div[@class="product-price"]')))
    
    time.sleep(5)
    for x in brand_tags:
        brand.append(x.text)
    for y in des_tags:
        description.append(y.text)
    for z in price_tags:
        price.append(z.text.split('Rs.')[1].strip())
        
   
    Next_btn.click()
    
driver.quit()

In [9]:
df = pd.DataFrame({'Brand':brand, 'Description': description, 'Price': price, })
df.head(100)

       Brand                    Description  Price
0       Nike   Men React Infinity 3 Running  11895
1       Puma   Eternity Nitro Running Shoes  11699
2       Nike     Men Colourblocked Sneakers  10795
3   Skechers    Men Go Walk 5 Walking Shoes   7224
4       Nike     Men KD 15 Basketball Shoes  13995
..       ...                            ...    ...
95      Puma   Women RS-Z Luminous Sneakers   8499
96  Columbia  Women REDMOND V2 TrekkingShoe   7999
97    Clarks   Women Solid Leather Sneakers   7649
98      Geox   Textured Leather Block Pumps   8393
99      Geox            Leather Block Pumps   8393

[100 rows x 3 columns]

#  Q8 Webscrapping 10 laptops with inteli7 CPU from amazon

In [174]:
driver = webdriver.Chrome(r'C:\Users\USER\Downloads\chromedriver_win32\chromedriver.exe')
url='http://www.amazon.in/'
driver.get(url)
driver.maximize_window()

In [175]:
#Searching for Laptop
search = WebDriverWait(driver,10).until(EC.element_to_be_clickable((By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input'))).send_keys('Laptop')

In [176]:
#Clicking search
search_btn = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input').click()

In [178]:
#selecting the type of cpu to filter in the required ones
cpu_type =WebDriverWait(driver,30).until(EC.element_to_be_clickable((By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[2]/li[11]/span/a/div/label/i'))).click()

In [179]:
title= []
price =[]

title_tags = WebDriverWait(driver,20).until(EC.visibility_of_all_elements_located((By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')))[:10]
price_tags= WebDriverWait(driver,20).until(EC.visibility_of_all_elements_located((By.XPATH,'//span[@class="a-price-whole"]')))[:10]

time.sleep(10)
for x in title_tags:
    title.append(x.text)
for z in price_tags:
    price.append(z.text)

In [20]:
urls = [] #scrape first 10 product links
url = driver.find_elements(By.XPATH,'//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')[:10] 
for i in url:
    urls.append(i.get_attribute('href'))

In [26]:
for i in urls:
    driver.get(i)
    stars =[]
    for j in WebDriverWait(driver,20).until(EC.presence_of_all_elements_located((By.XPATH,'//span[@class="a-icon-alt"]'))):
        stars.append(j.text)

In [189]:
star_tags= driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')[:10]
stars= []
for y in star_tags:
    stars.append(y)

In [190]:
stars

[<selenium.webdriver.remote.webelement.WebElement (session="6fab802777cb5874945dfd5a426e3b62", element="3e504910-9080-46a5-8f1e-522cb0e5faef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fab802777cb5874945dfd5a426e3b62", element="338e7b7a-62c3-4db2-8495-d780d5642734")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fab802777cb5874945dfd5a426e3b62", element="77e24c29-047a-4de5-8a06-e0c32182be41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fab802777cb5874945dfd5a426e3b62", element="04689321-e200-4c23-a07d-669adec571b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fab802777cb5874945dfd5a426e3b62", element="b05fe530-e64e-4094-a6bd-063e9d78e2f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fab802777cb5874945dfd5a426e3b62", element="257bfaa0-4af3-462f-bace-34c1aa8f6cbd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fab802777cb5874945dfd5a426e3b62", element="d2dd6192-49b5-481c-a302-3265fb6d720c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fab802777cb5874945dfd5a426e3b62", element="6f400b03-ed85-4b73-b995-ae143a7588cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fab802777cb5874945dfd5a426e3b62", element="4b734bd3-8b17-4828-94d4-78b409043b79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6fab802777cb5874945dfd5a426e3b62", element="c9400e04-5017-4a5f-b29b-17979206e4d2")>]

In [184]:
df= pd.DataFrame({'Laptop':title,'Price':price})
df

                                              Laptop     Price
0  Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...    94,990
1  Lenovo Legion 5 Pro Intel Core i7 11th Gen 16"...  1,59,990
2  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...    89,990
3  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    57,600
4  Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th G...    75,990
5  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...    82,990
6  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...    87,820
7  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    86,990
8  Samsung Galaxy Book2 Intel 12th Gen core i7 39...    79,990
9  (Renewed) Lenovo IdeaPad Slim 3i (82H801CSIN) ...    38,325

# Q9  python program to scrape data for first 10 job results for Data Scientist

In [191]:
driver = webdriver.Chrome(r'C:\Users\USER\Downloads\chromedriver_win32\chromedriver.exe')
URL= 'http://www.ambitionbox.com/'
driver.get(URL)
driver.maximize_window()

In [192]:
select = WebDriverWait(driver,30).until(EC.element_to_be_clickable((By.XPATH,'/html/body/div[1]/nav/nav/a[6]'))).click()

In [193]:
search = WebDriverWait(driver,30).until(EC.element_to_be_clickable((By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input'))).send_keys('Data Scientist')

In [194]:
search_btn= WebDriverWait(driver,30).until(EC.element_to_be_clickable((By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span'))).click()

In [195]:
#clicking drop down button
drop_dwn_loc =WebDriverWait(driver,30).until(EC.element_to_be_clickable((By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i'))).click()

In [196]:
#Setting Noida as location
loc_tag = WebDriverWait(driver,30).until(EC.element_to_be_clickable((By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input'))).send_keys('Noida')

In [197]:
#Selecting noida from drop down 
loc_select =WebDriverWait(driver,30).until(EC.element_to_be_clickable((By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label'))).click()

In [214]:
#Scrapping required data
company = []
days = []
rating = []
company_tags =WebDriverWait(driver,30).until(EC.visibility_of_all_elements_located((By.XPATH,'//p[@class="company body-medium"]')))
days_tags =WebDriverWait(driver,30).until(EC.visibility_of_all_elements_located((By.XPATH,'//span[@class="body-small-l"]')))
rate_tags = WebDriverWait(driver,30).until(EC.visibility_of_all_elements_located((By.XPATH,'//span[@class="body-small"]')))

for i in company_tags:
    company.append(i.text)
for j in days_tags:
    days.append(j.text.split('via'))
for k in rate_tags:
    rating.append(k.text)

In [215]:
days = days[0::2]

In [201]:
df= pd.DataFrame({'Company': company, 'Rating':rating, 'Days Since Posted':days})
df

                                          Company Rating Days Since Posted
0  Optum Global Solutions (India) Private Limited    4.1          [11d , ]
1                   GENPACT India Private Limited    4.0          [18d , ]
2                                   Latent bridge    4.5           [2d , ]
3                         Dew Solutions Pvt. Ltd.    4.3           [9d , ]
4                             InfoEdge India Ltd.    3.9          [16d , ]
5                         Info Edge India Limited    3.9          [17d , ]
6                         Info Edge India Limited    3.9          [17d , ]
7                                       Careerera    3.8           [4d , ]
8                                         CRMnext    4.1          [12d , ]
9                            Careernet Consulting    3.9         [1mon , ]

# Q10 Write a python program to scrape the salary data for Data Scientist designation.

In [191]:
driver = webdriver.Chrome(r'C:\Users\USER\Downloads\chromedriver_win32\chromedriver.exe')
URL= 'http://www.ambitionbox.com/'
driver.get(URL)
driver.maximize_window()

In [192]:
#selecting salary
select = WebDriverWait(driver,30).until(EC.element_to_be_clickable((By.XPATH,'/html/body/div[1]/nav/nav/a[4]'))).click()

In [193]:
search = WebDriverWait(driver,30).until(EC.element_to_be_clickable((By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input'))).send_keys('Data Scientist')

In [194]:
select_ds =WebDriverWait(driver,30).until(EC.element_to_be_clickable((By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]'))).click()

In [195]:
search_bn = WebDriverWait(driver,30).until(EC.element_to_be_clickable((By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/i[1]'))).click()

In [252]:
company =[]
total_salary = []
experience = []
avg_sal =[]
min_sal = []
maxx_sal = []
company_tags =driver.find_elements(By.CLASS_NAME,'company-info')[:10]
total_tags = driver.find_elements(By.CLASS_NAME,'datapoints')
exp_tags = driver.find_elements(By.CLASS_NAME,'sbold-list-header')[:10]
avg_tags =driver.find_elements(By.CLASS_NAME,'averageCtc')
min_max_tags =driver.find_elements(By.CLASS_NAME,'salary-values')

for i in company_tags:
    company.append(i.text.split('\n')[0])
for x in total_tags:
    total_salary.append(x.text.split(' ')[2])
for y in exp_tags:
    experience.append(y.text.split(' ')[0])
for z in avg_tags:
    avg_sal.append(z.text.split('₹')[1].strip())
for j in min_max_tags:
    min_sal.append(j.text.split('\n')[0].split('₹')[1].strip())
    maxx_sal.append(j.text.split('\n')[1].split('₹')[1].strip())
    
driver.quit()

In [255]:
df = pd.DataFrame({'Company': company, 'Total salaries':total_salary, 'Experience':experience, 'Average Salary':avg_sal, 'Mininmun Salary':min_sal, 'Maximum Salary':maxx_sal})
df

,Company,Total salaries,Experience,Average Salary,Mininmun Salary,Maximum Salary
0,Walmart,12,3,30.6L,25.0L,36.0L
1,Ab Inbev,33,3-4,20.8L,15.0L,26.2L
2,ZS,15,2,16.7L,11.0L,22.0L
3,Optum,32,3-4,15.9L,11.0L,22.5L
4,Reliance Jio,21,3-4,15.7L,5.6L,26.2L
5,Fractal Analytics,89,2-4,15.5L,10.0L,23.0L
6,Tiger Analytics,51,2-4,14.8L,9.0L,20.0L
7,UnitedHealth,57,2-4,14.0L,8.3L,21.1L
8,EXL Service,21,3-4,13.2L,7.6L,21.0L
9,Deloitte,69,2-4,12.8L,7.0L,25.0L